<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">FirstBeats: Justo lo que necesitas!</h2>
                <hr class="light">
                <p class="text-faded">FirstBeats es una aplicacion creada para dar un seguimiento constante al embarazo de una madre. Tendras acceso a los resultados medicos, ecografias, calendario de citas y muchas cosas más.</p>
                <p class="text-faded">Podras acceder a FirstBeats desde una Página Web, Android y IOS</p> 
                <a href="#" class="btn btn-default btn-xl">Registrate ya!</a>
            </div>
        </div>
    </div>
</section>

