<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Descarga la aplicación movil!</h2>
            <a href="#" class="btn btn-default btn-xl wow tada" style="margin-right:25px"><i class="fa fa-4x fa-android text-primary"></i></a>
            <a href="#" class="btn btn-default btn-xl wow tada"><i class="fa fa-4x fa-apple text-primary"></i></a>
        </div>
    </div>
</aside>

