<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Dale un seguimiento a tu embarazo mes a mes</h1>
            <!--<h1>Lleva un registro de los primeros latidos de tu bebé</h1>-->
            <hr>
            <p>FirstBeats es una aplicación que te permitira llevar un registro de los primeros latidos de tu bebé junto con tu doctor y tener a la mano su historial médico</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Encuentra más aqui</a>
        </div>
    </div>
</header>

